.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   text-align: center;
    
}
.login-btn{
    background-color: skyblue;
    color:black;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid blue;
    border-radius: 10px;
    outline: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
}
.login-btn:hover{
    border: 1px solid red;
}

.login-btn2{
    border: none;
    background: transparent;
    color: green;
    font-size: 12px;
    font-weight: bold;
    outline: none;
    cursor: pointer;

}